
.full_width {
    display:table;
    width:100%;
    table-layout:fixed;
    border-spacing:0;
}

.form-control {
    width: 13%;
    margin: .5em;
} 

#whenComplete {
    margin-left: 0em;
}  

#when {
    color: initial;
    border-right: 0px;
    border-color: rgb(177, 177, 177);;
}
body {
    background-color:rgb(165, 113, 100, .15);
}
header {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color:rgb(165, 113, 100);
    text-indent: 3em;
}

#addTask {
    margin-bottom: 2em;
    display: flex;
    flex-flow: column;
}

.table-hover > tbody > tr.green:hover > td,
.green > td {
    background-color: rgb(164, 206, 184, .4);
}

#disabledBtn {
    margin-left: .5em;
    border-right: 0px;
    border-color: rgb(159, 175, 110);
}

.table-responsive {
    width: 90%;
}


#nameOfTask {
    margin-left: 0em;
}

#addTask { 
    padding: 3em;
    padding-bottom: 0em;
}

.tableBody { 
    padding: 3em;
    padding-top: 0em;
    padding-bottom: 0em;
}



#disabledBtn {
    background-color  : white !important;
}

#addButton {
    background-color  : white !important;
}
/* .table-complete {
    display: flex;
    flex-flow: column;
    height: 90%;
} */


.tableTwoHeader{
    margin-top: 1em;
}